@page
@model FarmCentral.Pages.Employee.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>
<h4>For: @Model.Farmer.Name</h4>

<table class="table">
    <thead>
        <form method="post">
        <tr>
            <th>
                <label asp-for="@Model.StartDate" class="control-label"></label>
                <input asp-for="@Model.StartDate" class="form-control" />
            </th>
            <th>
                <label asp-for="@Model.EndDate" class="control-label"></label>
                <input asp-for="@Model.EndDate" class="form-control" />
            </th>
            <th>
                <label asp-for="@Model.FilterType" class="control-label"></label>
                <select asp-for="@Model.FilterType" class="form-control" asp-items="ViewBag.TypeId"></select>
            </th>
            <th class="form-group">
                <input type="hidden" name="farmerId" value="@Model.Farmer.FarmerId" />
                <input type="submit" value="Filter" class="btn btn-primary" />
            </th>
        </tr>
        </form>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Date)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
